<h1>Your Reservations</h1>

<ol>
  <% @reservations.each do |reservation| %>
    <li> Start Date: <%= reservation.start_date %> <br>
    End Date: <%= reservation.end_date %>
    <%= image_tag(reservation.vehicle.image_url, class: "img-fluid")%></li>
  <% end %>
</ol>
