.background-price {
  background-color: #052451;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  justify-content: space-between;

}

.price-chf {
  font-size: 24px;
}


.background-input {
  background-color: #eff6ff;
}
