// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "box";
@import "card";
@import "search_bar";
@import "hero";
@import "home_card";


body {
  background-color: #eff6ff;
  margin: auto;
}

.bg-section {
  background-color: #eff6ff;
  width: 100%;
}
