
<section class="pt-1 pb-2 shadow-sm bg-section">
  <div class="container">
    <div class="row pt-4">
      <div class="col-12">
        <h3 class="text border-bottom mb-4">All Vehicles</h3>
      </div>
    </div>
    <div class="row">
    <% @vehicles.each do |vehicle| %>
      <div class="col-lg-3 col-sm-6 mb-2 d-flex align-items-stretch">
        <div class="card">
          <%= image_tag(vehicle.image_url, class: "card-img-top") %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title"><%= vehicle.title %></h5>
            <p class="card-text mb-4"><%= vehicle.description %></p>
            <%= link_to "Show more", vehicle_path(vehicle), class: "btn btn-primary btn-sm mt-auto align-self-start" %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</section>
